<div class="container">
  <body>
    <div class="flex flex-direction-column desktop">
      <div *ngFor="let item of externalApps" class="icon__container">
        <div class="icon" (dblclick)="openExternalApp(item.name)">
          <img [attr.src]="item.icon" />
          <span class="icon__title">{{ item.name }}</span>
        </div>
      </div>
      <div class="icon__container">
        <div class="icon" (dblclick)="winamp.start()">
          <img [attr.src]="winAmpInfo.icon" />
          <span class="icon__title"> {{ winAmpInfo.name }}</span>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <app-navbar></app-navbar>
  </footer>
  <app-ie></app-ie>
  <app-winamp #winamp></app-winamp>
  <app-full-screen></app-full-screen>
</div>
